<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!auth.token">
    <p>Inicia sesión para subir imágenes</p>
  </ion-item>
  <ion-card *ngIf="!!auth.token">
    <ion-input type="file" (change)="filechange($event)"></ion-input><br>
    <ion-button (click)="submit()">Subir Archivos</ion-button>
  </ion-card>
</ion-content>
